<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.tera" %}
        <!-- HI! -->
    </head>
    <body>
        <div id="main_container">
            <div id="title">
                <h1>StatProf</h1>
            </div>

            <h2>Distributions</h2>

            {% include "calculators/z_score/z_score_new.tera" %}
            {% include "calculators/binom_prob/binom_prob_new.tera" %}
            {% include "calculators/inv_prob/inv_prob_new.tera" %}
            {% include "calculators/norm_prob/norm_prob_new.tera" %}
        </div>

        <footer>
            &copy 2023 CJ Burkey &verbar;
            Source available on <a target="_blank"
                                   title="View source on GitHub"
                                   href="https://github.com/cjburkey01/statprof_build">
                GitHub
            </a>
        </footer>

        <!-- Helpers -->
        <script type="text/hyperscript">
            {% include "helpers._hs" %}
        </script>

        <!-- Stats helpers -->
        <script src="./jstat_1.9.6.min.js"></script>
        <!-- Hyperscript! :) -->
        <script src="./hyperscript_0.9.9.js"></script>
    </body>
</html>
